{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "@src": "./src/client",
                    "@store": "./src/client/store",
                    "@components": "./src/client/components",
                    "@configs": "./src/client/configs",
                    "@constants": "./src/client/constants",
                    "@helpers": "./src/client/helpers",
                    "@hooks": "./src/client/hooks",
                    "@screens": "./src/client/screens",
                    "@styles": "./src/client/styles"
                }
            }
        ],
        [
            "import",
            {
                "libraryName": "antd",
                "style": true
            }
        ],
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "dist",
                "style": true
            }
        ]
    ]
}
